<template name='SideNavIn'>

      <!-- SideBar, SlideOut, NavigationBar -->
      <!-- NavBar -->

                  <!-- <li>
                        <a href="/" class="white-text" style="height: 200px; width: 256px">
                              <img src="img/logo.png" alt="#" style="height: 200px; width: 256px" />
                        </a>
                  </li> -->




                <li>
                    <div class="userView">
                        <img class="background" src="images/BackGround.jpg">
                        <a href="#!user">
                            <img class="circle" src="images/User.jpg">
                        </a>
                        <a href="#!name">
                            <span class="white-text name">John Doe</span>
                        </a>
                        <a href="#!email">
                            <span class="white-text email">jdandturk@gmail.com</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#!">
                        <i class="material-icons">cloud</i>
                        First Link With Icon
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="#!">Feed</a>
                </li>
                <li>
                    <a class="waves-effect" href="#!">Post</a>
                </li>
                <li>
                    <a class="waves-effect" href="#!">Log Out</a>
                </li>





</template>
