<template name="createProfile">

      <body>

	 	<main>
                   
                  <div class="row">
                        <div class="col s12 offset-l4 l4">
                              <div class="card dark-primary">
                                    <div class="card-image" style="hieght: 350px">
                                          <img src="img/alex.jpg" class="profile-display">
                                          <span class="card-title" style="font-weight: 200">Card Title</span>
                                    </div>
                                    <div class="card-content">
                                          <p class="white-text">I am a very simple card. I am good at containing small bits of information.
                                          I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                    <div class="card-action">
                                          <a href="#">This is a link</a>
                                    </div>
                              </div>
                        </div>
                  </div>
            
            </main>

      </body>

</template>
