<template name="profile">

      <body>

         {{#if currentUser}}
             {{> signedInHeader}}
         {{else}}
             {{> notSignedInHeader}}
         {{/if}}

	 	 <main>
                   
                   <div class="container">
                         <div class="row teal" style="margin-bottom: 0px">
                               <img class="col offset-s5 s2 circle" src="img/user.png" alt="#" style="margin-top: 50px; margin-bottom: 5px">
                               <div class="col s12 divider"></div>
                         </div>

                         <div class="row teal">
                               <div class="col s12 blue-grey darken-4">
                                      <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                                     I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                     </span>
                                </div>
                         </div>
                   </div>
            
             </main>

	{{> footer}}

      </body>

</template>
