<template name = 'notSignedInSlideMenu'>

      <!-- SideBar, SlideOut, NavigationBar -->
      <!-- NavBar -->
      <nav>

            <ul>
                  <li>
                        <a href="/landing" class="white-text" style="height: 200px; width: 256px">                                    
                              <img src="img/logo.png" alt="#" style="height: 200px; width: 256px" />
                        </a>
                  </li>

                  <li class="divider"></li>

                  <li class="bold" style="width: 256px">
                        <div>                                          
                              <a href="/aboutUs" class="waves-effect waves-teal white-text">About Us</a>                              
                        </div>
                  </li>

                  <li class="divider" ></li>

                  <li class="bold" style="width: 256px">
                        <div>                                    
                              <a href="/logIn" class="waves-effect waves-teal white-text">Log In</a>                                    
                        </div>
                  </li>

                  <li class="divider"></li>

                  <li class="bold" style="width: 256px">
                        <div>
                              <a href="/signUp" class="waves-effect waves-teal white-text">Enroll</a>
                        </div>
                  </li>

                                     
            </ul>
      </nav>


</template>