<template name = 'signedInSlideMenu'>

      <!-- SideBar, SlideOut, NavigationBar -->
      <!-- NavBar -->
      <nav>

            <ul>
                  <li>
                        <a href="/" class="white-text" style="height: 200px; width: 256px">                                    
                              <img src="img/logo.png" alt="#" style="height: 200px; width: 256px" />
                        </a>
                  </li>

                  <li class="divider"></li>

                  <li class="bold" style="width: 256px">
                        <div>
                              <a href="/home" class="waves-effect waves-teal white-text">Feed</a>
                        </div>
                  </li>

                  <li class="divider"></li>

                  <li class="bold" style="width: 256px">
                        <div>
                              <a href="/departmentOverview" class="waves-effect waves-teal white-text">Post</a>
                        </div>
                  </li>

                  <li class="divider"></li>

                  <li class="bold" style="width: 256px">
                        <div>
                              <a id="log-out" href="/" class="waves-effect waves-teal white-text">Log Out</a>
                        </div>
                  </li>   
            </ul>
      </nav>

      

</template>