<template name = 'signedInSlideMenu'>

            <!-- SideBar, SlideOut, NavigationBar -->
            <!-- NavBar -->
            <nav>

                        <ul class="side-nav blue-grey darken-3">
                              <li style="height: 175px">
                                    <a href="/home" class="white-text">
                                          <!-- <img src="#" alt="#"/> --> Future Logo ;)
                                    </a>
                              </li>

                              <li class="divider"></li>

                              <li class="bold">
                                    <div class="collapsible-header" style="padding: 0%; margin: 0%">
                                          <a href="/home" class="waves-effect waves-teal white-text">Feed</a>
                                    </div>
                              </li>

                              <li class="divider"></li>

                              <li class="bold">
                                    <div class="collapsible-header" style="padding: 0%; margin: 0%">
                                          <a href="/departmentOverview" class="waves-effect waves-teal white-text">Post</a>
                                    </div>
                              </li>

                              <li class="divider"></li>

                              <li class="bold">
                                    <div class="collapsible-header" style="padding: 0%; margin: 0%">
                                          <a id="log-out" href="/landing" class="waves-effect waves-teal white-text">Log Out</a>
                                    </div>
                              </li>   
                        </ul>
            </nav>

      

</template>