<template name="HomeLayout">
      {{> Header}}
      <body>
                  {{#if Template.subscriptionsReady}}
                        {{#each post}}
                              {{> Posts}}
                        {{/each}}
                  {{else}}
                        <!-- Some loading partial -->
                        <div class="progress">
                              <div class="indeterminate" style="color: #263238"></div>
                        </div>
                  {{/if}}
      </body>
      {{> Footer}}
</template>
